<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Image Preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    {% block content %}
    <div class="container">
      <h1
        class="mt-4"
        style="
          font-family: georgia, garamond, serif;
          font-size: 50px;
          font-style: italic;
        "
      >
        Image Preview
      </h1>

      <div class="mt-4">
        <img
          src="{% url 'preview_image' user_image.id %}"
          class="img-fluid"
          alt="User Image"
        />
      </div>
      <br />
      <div
        class="mt-4"
        style="
          font-family: georgia, garamond, serif;
          font-size: 25px;
          font-style: italic;
        "
      >
        <a
          href="{% url 'download_image' user_image.id %}"
          class="btn btn-success btn-sm"
          >Download</a
        >
      </div>
    </div>
    {% endblock %}

    <script src="" async defer></script>
  </body>
</html>
